<div style="color: rgb(255, 174, 0); background-color: black; height: 100%">
  <h1 class="text-center"><b> About Us: </b></h1>
  <br />
  <div class="container d-flex" style="width: 100%">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus
      veritatis asperiores vitae corporis cumque? Nulla ex harum error assumenda
      maxime quia voluptas.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque rerum
      dolorem natus sed dolores rem omnis non quasi iure odit tempore itaque
      mollitia corporis modi voluptatem vitae est, maxime expedita?
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio recusandae
      unde ipsum, necessitatibus molestias quibusdam fuga non autem nostrum?
      Quaerat mollitia vitae id nihil. Nisi ducimus hic illo aliquid eum.
    </p>
  </div>
  <div class="container d-flex" style="width: 100%">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus
      veritatis asperiores vitae corporis cumque? Nulla ex harum error assumenda
      maxime quia voluptas.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque rerum
      dolorem natus sed dolores rem omnis non quasi iure odit tempore itaque
      mollitia corporis modi voluptatem vitae est, maxime expedita?
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio recusandae
      unde ipsum, necessitatibus molestias quibusdam fuga non autem nostrum?
      Quaerat mollitia vitae id nihil. Nisi ducimus hic illo aliquid eum.
    </p>
  </div>
  <div class="container d-flex">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus
      veritatis asperiores vitae corporis cumque? Nulla ex harum error assumenda
      maxime quia voluptas.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque rerum
      dolorem natus sed dolores rem omnis non quasi iure odit tempore itaque
      mollitia corporis modi voluptatem vitae est, maxime expedita?
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio recusandae
      unde ipsum, necessitatibus molestias quibusdam fuga non autem nostrum?
      Quaerat mollitia vitae id nihil. Nisi ducimus hic illo aliquid eum.
    </p>
  </div>
</div>
